/*.laptopInfo_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 30px auto 50px auto;
  font-size: 22px;
}

#laptop__photo {
  width: 550px;
  height: 320px;
}

.user_info_keys {
  font-weight: 600;
}

.user_info_values {
  color: gray;
}
hr {
  width: 70%;
}

.second {
  align-items: flex-start;
  justify-content: space-between;
}

#laptopInfo_description {
  font-size: 34px;
}

@media (max-width: 600px) {
  .laptopInfo_container {
    flex-direction: column;
  }
}
*/
