:root {
  --blue: #62a1eb;
  --white: #ffffff;
  --gray: #ebebeb;
  --light-blue: #e7f0f8;
  --red: #e52f2f;
  --light-red: #fff1f1;
  --dark-blue: #1a5dab;
  --black: #232323;
  --light-black: #2e2e2e;
  --green: #23ff39;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  display: flex;
  color: var(--black);
  font-weight: 700;
}

header p {
  margin: 10px 60px;
}

header hr {
  width: 130px;
  border: 1px solid var(--black);
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
  width: 75%;
  height: 70vh;
  margin: 15px 0px;
  border-radius: 10px;
}

.form-container input {
  border: 1px solid var(--blue);
  height: 40px;
  border-radius: 4px;
}

label {
  color: var(--black);
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

small {
  color: var(--light-black);
}

select {
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: var(--gray);
}

button {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.container-box {
  margin: 30px 0px;
}

.hidden {
  display: none;
}

/* FIRST PAGE CSS */
.first-page-btn {
  width: 450px;
}

@media (max-width: 500px) {
  .first-page-btn {
    width: 350px;
  }
}
