body {
  background-color: #f5f5f5;
}

header {
  display: flex;
  color: var(--black);
  font-weight: 700;
}

header p {
  margin: 10px 60px;
}

header hr {
  width: 130px;
  border: 1px solid var(--black);
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
  width: 75%;
  height: 70vh;
  margin: 15px 0px;
  border-radius: 10px;
}

.form-container input {
  border: 1px solid var(--blue);
}
.form-content {
  width: 60%;
}

.form-content input {
  width: 65%;
}

.first-input-group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.first-input-group input {
  width: 300px;
}

.form-container label {
  color: var(--black);
  font-weight: 600;
}

.form-container input {
  height: 40px;
  border-radius: 4px;
}

.form-container p {
  color: var(--light-black);

  margin: 0;
}

.dropdown select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: var(--gray);
  border: none;
  padding: 5px;
}

.form-elem {
  position: relative;
  margin: 15px 0px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#phone,
#email {
  width: 99%;
}

i {
  color: var(--green);
  position: absolute;
  top: 40px;
  right: 20px;
  visibility: hidden;
}

.next-btn {
  width: 140px;
  margin-left: 455px;
}

a {
  position: absolute;
  left: -180px;
  top: -20px;
}

header {
  position: relative;
}

.select:hover:after {
  background: var(--light-blue);
}

.success i {
  visibility: visible;
}

.success input {
  border: 3px solid var(--light-blue);
}

.error input,
.error select {
  border: 2px solid var(--red);
}
.error p {
  color: var(--red);
}

/*MOBILE VERSION*/

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0;
  }

  .form-container,
  .form-content {
    width: 100%;
  }

  .first-input-group {
    flex-direction: column;
  }

  #logo {
    display: none;
  }
  .laptop {
    display: none;
  }
  header {
    display: block;
  }

  .next-btn {
    margin-bottom: 10px;
    margin-left: 180px;
  }

  .first-input-group input {
    margin: 10px 0px;
    width: 100%;
  }
}
